body  {
  font-family: 'Raleway', sans-serif;
  background: #3B9876;
  font-size: 30px;
}

p {
  margin-bottom: 30px;
}

.fa-microphone {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-section {
  display: none;
  margin-bottom: 20px;
  text-align: center;
}

.searchresult {
  text-align: center;
}

.resultarea {
  background: white;
  width: 100%;
  margin-bottom: 40px;  
  display: none;
}

.resultarea p {
  font-size: 0.5em;
}

.box {
  flex: 1;
  text-align: center;
}

@media (min-width: 544px) {
  .resultarea {
    flex-direction: row;
  }

  .resultarea p {
    font-size: .75em;
  }
}

@media (min-width: 980px) {
  .box {
    flex-basis: 25%;
  }

  .resultarea p {
    font-size: .9em;
  }
}

.times { background: firebrick; }
.temperature { background: green; }
.description { background: pink; }
.wind { background: cyan}

input {
  margin-left: 8px;
  width: 50%;
  background: none;
  border-style: none;
  border: none;
  padding-bottom: 5px;
  border-bottom: 2px dotted #000;
  overflow: hidden;
  color: yellow;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: rgba(0, 0, 0, 0.2); }
::-moz-placeholder { /* Firefox 19+ */ color: rgba(0, 0, 0, 0.2); }
:-ms-input-placeholder { /* IE 10+ */ color: rgba(0, 0, 0, 0.2); }
:-moz-placeholder { /* Firefox 18- */ color: rgba(0, 0, 0, 0.2); }

input:focus {
  outline: none;
}

.highlight {
  color: yellow;
  font-weight: bold;
}

.error {
  color: firebrick;
  font-weight: bold;
}

.border {
  border: 2px solid #000;
}

button {
  background: none;
  border: 1px solid #FFF;
  padding: 10px;
  color:#000;
  cursor: pointer;
  font-family: inherit;
}

button:hover {
  background: rgba(0, 0, 0, 0.2)
}

button:focus {
  outline: none;
}

.hot {
  background-image: url("../img/hot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.very-hot {
  background-image: url("../img/very-hot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cold {
  background-image: url("../img/cold.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.freezing {
  background-image: url("../img/freezing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1250px) {
  .container {
    width: 65%;
  }
}
