body  {
  font-family: 'Raleway', sans-serif;
  background: #d3d3d3;
  font-size: 30px;
}

p {
  margin-bottom: 30px;
}

.fa-microphone {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-section {
  display: none;
}

.resultarea {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box {
  height: 400px;
  flex: 1 0 50%;
}

@media (min-width: 544px) {
  .resultarea {
    flex-direction: row;
  }
}

@media (min-width: 980px) {
  .box {
    flex-basis: 25%;
  }
}

.time { background: red; }
.temperature { background: green; }
.weather { background: pink; }
.speed { background: blue}

input {
  margin-left: 8px;
  background: none;
  border-style: none;
  border: none;
  padding-bottom: 5px;
  border-bottom: 2px dotted #000;
  overflow: hidden;
  color: yellow;
}

input:focus {
  outline: none;
}

.border {
  border: 2px solid #000;
}

button {
  box-shadow: 5px 5px 5px #888888;
  border-radius: 20px;
  font-size: 1.1em;
  padding: 1em;
  margin-bottom: 40px;
}

button:focus {
  outline: none;
}

.hot {
  background-image: url("../img/hot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.very-hot {
  background-image: url("../img/very-hot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cold {
  background-image: url("../img/cold.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.freezing {
  background-image: url("../img/freezing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1250px) {
  .container {
    width: 65%;
  }
}
